[2017-10-11 13:51] JosephMcArthur opened #1 "move all docs for the website to /docs and generate site from there"
That'll help keep this landing of the github page simpler, and focused less on code.

[2017-10-11 13:53] JosephMcArthur opened #2 "de-dup licence"
@lorrainechu3n licence this repo at MIT in starting it up (I think) but the site comes with a cc-by 3.0 licence.

@lorrainechu3n are you okay with the latter licence for all content so that we can keep the licence simple?

[2017-10-11 14:01] JosephMcArthur opened #3 "sort domain for main repo"
doathon.opencon2017.org should be good.

[2017-10-11 14:02] JosephMcArthur opened #4 "make favicon.ico"

[2017-10-11 14:02] JosephMcArthur opened #5 "make sure we've got analytics set up"

[2017-10-11 14:03] JosephMcArthur opened #6 "sort out a workflow to make sure we can do development & changes safely"
Nearly there... need to make the other repo first.

[2017-10-11 14:03] JosephMcArthur opened #7 "add a code of conduct"

[2017-10-11 14:03] JosephMcArthur opened #8 "add a contribution guide for the main repo"

[2017-10-11 14:07] JosephMcArthur opened #9 "in the /docs file, have a readme that tells people to look here for tech updates."

[2017-10-11 14:08] JosephMcArthur opened #10 "set up issue template in main repo"

[2017-10-11 17:25] JosephMcArthur commented on #1
It actually probably doesn't matter for here, but I've done this in the other repo.

[2017-10-11 17:25] #1 closed, assigned to nobody

[2017-10-11 17:26] JosephMcArthur commented on #3
got this domain successfully propagating. Set up www.doathon.opencon2017.org too, but still awaiting testing. Uses the same settings as the other domain so assuming it'll work and closing this.

[2017-10-11 17:26] #3 closed, assigned to JosephMcArthur

[2017-10-11 17:27] JosephMcArthur commented on #6
Okay, got everything roughed out for this pretty much and some simple documentation. Should do for starters and can fill in gaps as and when needed.

[2017-10-11 17:27] #6 closed, assigned to JosephMcArthur

[2017-10-11 17:27] JosephMcArthur commented on #9
done!

[2017-10-11 17:27] #9 closed, assigned to nobody

[2017-10-11 17:40] JosephMcArthur commented on #5
set up & tested on all main pages

[2017-10-11 17:40] JosephMcArthur commented on #5
assuming that it'll be copied across now :) cc @lorrainechu3n

[2017-10-11 17:40] #5 closed, assigned to JosephMcArthur

[2017-10-11 18:00] JosephMcArthur commented on #10
No time right now to do all this, but throwing some notes:

# Selection types

Delete what isn't applicable:

Region: North America | South America | European Union | Africa | Asia | Global | None

Put a cross in the box:

Region:
[ ] North America
[ ] South America
[ ] European Union
[ ] Africa
[ ] Asia
[ ] Global
[ ] None

# metadata types & values

* Project name: free text or code
* Project de

[2017-10-12 15:17] char-siuu-bao commented on #10
Starting to put a form together from this template here: https://docs.google.com/forms/d/e/1FAIpQLSeD14vJ8OgsL6mXE3vBIoMfiauo3j6sJB-A2NoqdSzSRj0ygA/viewform

[2017-10-12 17:14] JosephMcArthur opened #11 "set up multiple sheetsu links as back-up incase we hit usage limits."

[2017-10-12 17:25] char-siuu-bao opened #12 "figure out sheetsu limit problems on participate page"
The rows keep duplicating themselves: https://sparcopen.github.io/doathon-dev/participate.html

Not an issue in codepen - only when embedded in our site. Have emailed Sheetsu support.

[2017-10-12 18:12] char-siuu-bao opened #13 "decide what requirements we have for projects/project leads"

[2017-10-12 18:13] char-siuu-bao opened #14 "write copy re: tips & guidelines for leading projects"
resources on how to encourage remote collaboration, etc...

[2017-10-12 18:13] char-siuu-bao opened #15 "decide what design thinking resources to include on the "submit challenge" page"

[2017-10-12 18:13] char-siuu-bao opened #16 "write copy for submit challenge page"

[2017-10-12 18:14] char-siuu-bao opened #17 "Figure out workflow for submitting challenges"
what resources to give them, also how we would push them into project submission halfway through the day

[2017-10-12 19:21] char-siuu-bao opened #18 "Write copy for each sub-design thinking page + create resources for each"
- [ ] systems mapping page
- [ ] understanding users page
- [ ] designing solutions page

include examples for each or else it may be too abstract for people who haven't used design thinking language before

[2017-10-12 19:22] #15 closed, assigned to nobody

[2017-10-13 02:54] char-siuu-bao opened #19 "Do we want folks to distinguish if they're remote or in the room?"
Don't want to remote participants to feel excluded, but logistically, it might be helpful to know, so participants know how best to connect with one another.

[2017-10-13 09:42] JosephMcArthur opened #20 "for design thinking exercises, find online tools that can help make outputs editable & discussable by remote participants"
During workshops, it probably make sense to just use big pieces of paper... but we think it's important that before & after the workshops it's possible to collaborate on these.

Decent options include:
* Google Slides (probably the best if only because most people probably know it)
* https://www.draw.io/ (have seen this used, and after using it for 5 minutes it's pretty straight forwards)

[2017-10-14 18:09] char-siuu-bao commented on #20
We can create templates for some of this stuff too ... e.g. user personas.  could even just be a google doc.

[2017-10-14 18:10] char-siuu-bao commented on #20
I always thought prezi would be a good workspace for this kind of stuff

[2017-10-14 19:32] char-siuu-bao commented on #20
I think we should just remind people they can use big sheet paper but to take photos of their outputs and upload to the github thread regularly (or digitize/transcribe it to a digital output after they're done). I can imagine scenarios where trying to do this all digitally will slow down the brainstorming process.

[2017-10-15 14:34] JosephMcArthur commented on #2
removed mit licence

[2017-10-15 14:34] #2 closed, assigned to lorrainechu3n

[2017-10-15 14:35] JosephMcArthur commented on #12
this is fixed

[2017-10-15 14:35] #12 closed, assigned to lorrainechu3n

[2017-10-15 14:51] JosephMcArthur commented on #13
Anything immediately come to mind here? Are we thinking simple stuff like "be there on the day", or something more involved?

[2017-10-15 14:53] JosephMcArthur commented on #20
Indeed. Perhaps we could have all workshop hosts make threads for their workshop's theme / challenge which could be contributed to throughout and folks could upload photos too. I agree that getting folks set up with these inperson is likely to be less than ideal vs just having paper!

[2017-10-15 14:57] JosephMcArthur commented on #4
I've used the standard method for this... but it doesn't seem to appear. If it's not easy it's not worth doing.

[2017-10-15 15:03] JosephMcArthur opened #21 "get feedback"

[2017-10-15 15:05] JosephMcArthur opened #22 "figure out how to stop flicker on load"
when the site first loads for me I get an unstyled version for an instant before images / css etc load. This is quick and not a bit deal but it would be nice to remove.

[2017-10-15 15:07] JosephMcArthur commented on #13
Duh @lorrainechu3n. I should learn to read. I can see your requirement that it's about OA / OD / OE. That makes sense, anything else? If not, we can probably have the header be this.

[2017-10-15 15:08] JosephMcArthur opened #23 "add search to participate tables"
seems like this will be helpful before long!

[2017-10-15 15:09] JosephMcArthur opened #24 "add anchors to key sections (e.g the challenge table)"
this can allow direct linking to specific sections, which I can already see from some copy will be helpful.

[2017-10-15 15:11] char-siuu-bao commented on #24
I've already done this!
On Sun, Oct 15, 2017 at 11:09 AM Joseph McArthur <notifications@github.com>
wrote:

[2017-10-15 15:12] char-siuu-bao commented on #13
I'm thinking of linking out to a longer list, but wanted to see if you had
any other ideas - the copy is still a work in progress !!
On Sun, Oct 15, 2017 at 11:07 AM Joseph McArthur <notifications@github.com>
wrote:

[2017-10-15 15:13] JosephMcArthur commented on #24
ah, gotcha! It's a shame it's not more visible. Perhaps we should add the same things we did on the dei report? I can probably dig out that code fairly easily if you agree it's helpful for everyone to be encouraged to do that deep linking.

Otherwise, please feel free to close.

[2017-10-15 15:16] JosephMcArthur commented on #7
added to the main repos. Needs to go in footer too but we'll chat that before release.

[2017-10-15 15:16] #7 closed, assigned to JosephMcArthur

[2017-10-15 15:19] JosephMcArthur opened #25 "Making it clear people can participate before and after the 13th"
Remote folks can engage whenever, and we'll expect people to be setting up challenges / ideas throughout.

Shall we extend the dates flagged on the frontpage @lorrainechu3n. I vote yes :)

TBH I'd love to make sure that on that landing page it's clear that you can take part at any point and we encourage contribution before the event.

[2017-10-15 15:20] JosephMcArthur opened #26 "basic release testing"
- [x] link checking
- [x] mobile checking
- [ ] incognito testing
- [x] testing on main domain
- [x] ensure move to production issues

[2017-10-15 15:22] char-siuu-bao commented on #25
I think we should make it clear that the day of the do-a-thon is nov 13 -
but that they can start submitting and participating any time in large
text. I am planning on expanding on the home page a bit!
On Sun, Oct 15, 2017 at 11:19 AM Joseph McArthur <notifications@github.com>
wrote:

[2017-10-15 15:26] JosephMcArthur commented on #25
That sounds like a great 1/2 way house. Will leave it with you.

On Sun, 15 Oct 2017, 17:22 Lorraine Chuen, <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-10-15 18:07] JosephMcArthur opened #27 "teeny tiny footer"
Doesn't seem like we need much of a footer at this point. Consider shrinking it down.

[2017-10-15 18:12] JosephMcArthur opened #28 "add all catagories on /participate"
just adding this so we don't forget and it's probably none trivial to get all the icons / links right

[2017-10-15 18:12] JosephMcArthur opened #29 "add zendesk chat box so that you can get help anywhere from the site"
similar to the box that comes up here: http://www.opencon2017.org/faq or openaccessbutton.org

[2017-10-15 18:17] JosephMcArthur opened #30 "asking remote people to RSVP"
Should we do this, and if so how / where @lorrainechu3n

We probably _should_ do this, but to be honest I think if we didn't the world would keep on turning :) The main metric here won't be RSVP's be deeper engagement, and if we miss a few RSVP's to keep that simple I think that's fine.

[2017-10-15 18:17] JosephMcArthur commented on #16
LMK where you're at on this & other copy and where I can provide support. A general look at things suggests you're 100% on the right course but I haven't been super critical about things yet.

[2017-10-15 18:21] JosephMcArthur opened #31 "add help link in footer"
It could simply open the zendesk box from #29.

[2017-10-15 20:02] katiequin335 commented on #27
Do you still need help with this?

[2017-10-15 20:43] JosephMcArthur commented on #21
@lorrainechu3n once I finally add my GitHub stuff tomorrow I'm planning to send the below to the OC. Does this sound okay to you?

[2017-10-15 20:45] JosephMcArthur commented on #27
Probably not right now. We're still in the middle of a fast building period
and I think this is something we'd like to sit on just a bit longer while
we make sure that we've scoped the footer correctly.

Thanks for the question though! Appreciate you checking :) Saves everyone a
bunch of time.

On Sun, 15 Oct 2017 at 22:02 Katie <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Direc

[2017-10-16 03:36] char-siuu-bao opened #33 "write tips for project leads & challenge leads"
e.g. guidelines on how to effectively involve people from a distance, set goals, etc... I feel like you would be better at doing this @JosephMcArthur - happy to continue working on it but I could use your help with writing copy for the site, in general!

[2017-10-16 03:36] char-siuu-bao commented on #10
is this set up?

[2017-10-16 09:22] JosephMcArthur opened #34 "how do we surface twitter chat on the site, or do we?"
Any thoughts @lorrainechu3n? I know we've thought about it as a way to highlight projects.

[2017-10-16 13:59] char-siuu-bao opened #35 "Collect ~3 projects and challenges from core community members to act as examples on home page (should take down collaborate projects - or ask if they are interested)"

[2017-10-16 14:00] char-siuu-bao commented on #34
Yes! We could do our original idea of having an extra column in sheetsu leading to the project chat. We could ask them to submit a hashtag for their project (ask to keep short) and for them to always include #OpenCon and also #whateverprojecthashtag is in their google form (so it shows up on the OpenCon main feed too), and then we could link the twitter search link right into the google sheetsu sh

[2017-10-16 14:01] char-siuu-bao commented on #34
OR we can create a special hashtag for OpenCon do-a-thon and then embed a twitter stream that just shows all the twitter do-a-thon activity. Or we could do both this and the above idea. What do you think, @JosephMcArthur?

[2017-10-16 14:02] char-siuu-bao commented on #35
this could also act as a test to run through the submit/workflow process.

[2017-10-16 14:04] char-siuu-bao opened #36 "Do we want a section on incorporating mini satellite meet-ups with the do-a-thon day?"
I can imagine some projects could also be regional work-party meetings. Do we anticipate this happening, and if so, how can we best support? Do we add location (not just region) meta data for people to discover somehow? This might not be something for the initial release but I think we should think about it soon.....

[2017-10-16 14:05] char-siuu-bao commented on #36
Maybe sort of like the mozilla global sprint site hosts? https://mozilla.github.io/global-sprint/site-hosts/

[2017-10-16 14:12] char-siuu-bao commented on #33
Just jotting some notes down - this should also include (simple) contributing guidelines

[2017-10-16 14:18] char-siuu-bao commented on #10
I think the template should include:

## **Project MetaData**
(this can be emailed to them to paste exactly as we email them to do so:)

**Project Name:**
**Contact Project Lead:** maybe email or twitter handle.
**External Site Link (optional):**
**Region**:
**Issue Area:**

## **Project Description**
[ ask them to insert a paragraph here ]

## **What are we working on during the do-a-thon? What k

[2017-10-16 14:34] char-siuu-bao opened #37 "Create template for challenge Github issue post"
I imagine this will look a little different than the project template!

I think we should ask participants to title the Github issue as their "how might we statement"?

And then have some metadata (project/challenge, issue area, region—if the problem statement is regional-specific)

Then, to give some context around the problem - what exactly do they mean, what is some context around how the probl

[2017-10-16 14:44] char-siuu-bao opened #38 "Create design thinking workspace templates for various exercises"
Already planning to link in resources, but for folks for whom this is new, having a direct template to work on (sort of like a worksheet) may be helpful. Can do after initial release, I think.

[2017-10-16 14:45] char-siuu-bao opened #39 "Recruiting submissions - from OpenCon alumni, OpenCon attendees, remote participants (can section out emails on NB)"
Let's aim to do this by the end of October!

[2017-10-17 14:29] JosephMcArthur commented on #37
cover in #10 ?

[2017-10-17 14:32] JosephMcArthur opened #40 "acknowledge mozilla somewhere"

[2017-10-17 14:41] JosephMcArthur commented on #35
done in #21

[2017-10-17 15:19] JosephMcArthur opened #41 "Decide how to get issues tagged fast enough (e.g do we form a group)"

[2017-10-17 19:25] char-siuu-bao commented on #37
here's the form for submitting challenges: https://docs.google.com/forms/d/e/1FAIpQLScliEFPRWlvtn0LoK6-1OejaYLz6OwKMd00jFdsMjQRQTlM1A/viewform

[2017-10-17 19:26] char-siuu-bao commented on #17
Form for submitting challenges: https://docs.google.com/forms/d/e/1FAIpQLScliEFPRWlvtn0LoK6-1OejaYLz6OwKMd00jFdsMjQRQTlM1A/viewform

Still need to write auto-reply email for those who have submitted challenge to let them know next steps (e.g. how to get it up on Github) - also need to integrate challenges into the issue template

[2017-10-17 19:35] char-siuu-bao opened #42 "set up process for submitting and approving projects"
## Instructions for Project Leads (displayed on website):

**1. Make sure your project meets our project requirements.**
Insert text to list requirements. If what you're proposing is more of a problem that you don't quite have a project yet for, you might be interested in checking out our Challenge Submission page instead.

**2. Fill out our project submission form.**
Access the form here. This te

[2017-10-17 19:36] char-siuu-bao commented on #42
### Our email instructions, atm:

** I think we discussed on today's call that any in-person attendees will have projects automatically approved, and then folks outside the room will through a quick approval process._  So this email will be automatically emailed to anyone who fills out the form who is an OpenCon 2017 in-person attendee. It will be sent out as a mail merge to those who are remote p

[2017-10-17 19:40] char-siuu-bao commented on #42
example of mail merge:
<img width="946" alt="screen shot 2017-10-17 at 3 40 28 pm" src="https://user-images.githubusercontent.com/10004206/31685607-8d80b83c-b351-11e7-964b-9e018905ee7e.png">

[2017-10-17 19:42] char-siuu-bao commented on #42
The responses get put into [this sheetsu spreadsheet](https://docs.google.com/a/sparcopen.org/spreadsheets/d/1L6F_PfkozdCOhuHNhNGk-y9QZMyXEJ9QVf3saU0ET7g/edit?usp=drive_web), which displays on the projects page. We need to get examples into Github and label the issues so we can test out the front end of the sorting system. @JosephMcArthur if you get a chance to get this set-up.  If not, I'll do my

[2017-10-18 04:36] char-siuu-bao opened #43 "The Method: an Open Source Podcast about Science"
## **Submission MetaData**

**Submission Name:** The Method

**Contact Lead:** April CS

**External Site Link (optional - primarily for projects):** [https://themethodpodcast.com/](https://themethodpodcast.com/)

**Region**: #NorthernAmerica

**Issue Area:** #OpenScience

**Issue Type:** #Project

## **Description**
The Method is an open source, peer reviewed podcast about the state of science. We

[2017-10-18 04:50] char-siuu-bao opened #44 "How might we encourage more Canadian institutions to adopt institutional Open Access policies?"
## **Submission MetaData**

**Submission Name:** How might we encourage more Canadian institutions to adopt institutional Open Access policies?

**Contact Lead:** @lorrainechu3n

**External Site Link (optional - primarily for projects):** www.ooocanada.ca

**Region**: Northern America

**Issue Area:** Open Access

**Issue Type:** Challenge

## **Description**
Some context here on the lack of insti

[2017-10-18 09:16] #29 closed, assigned to JosephMcArthur

[2017-10-18 09:20] JosephMcArthur commented on #31
not sure why I think this is needed with a big help box.

[2017-10-18 09:25] JosephMcArthur opened #45 "remove .html from links"
this is super old school, and not needed when running on production (i.e view locally doesn't matter).

When move to production this can be changed with a find & replace

[2017-10-18 09:26] #31 closed, assigned to JosephMcArthur

[2017-10-18 09:56] JosephMcArthur commented on #40
suggested something, will get edits in later copy reviews

[2017-10-18 09:56] #40 closed, assigned to JosephMcArthur

[2017-10-18 09:56] JosephMcArthur commented on #26
Have done a bunch of re-org & notes to make this a touch easier

[2017-10-18 09:57] JosephMcArthur commented on #21
Discussed with Lorraine. She's happy with copy & asks. Just need to finish a few to-dos and then this is easy to send.

[2017-10-18 09:57] #21 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-10-18 11:49] JosephMcArthur opened #46 "testing issues instructions"
[//]: # "=======================

I'm some text that will be hidden when an issue issue is made

============================"

## **Submission MetaData**
Please remove the content between the *** and paste the metadata you received after submitting your project or challenge in your Google Form exactly as we sent it to you.

* **Submission Name:** _Name of your project or challenge_
* **Contact Le

[2017-10-18 11:51] #46 closed, assigned to nobody

[2017-10-18 11:52] JosephMcArthur opened #47 "test"
[//]: # "=======================
Don't worry about these introductory lines - you can leave or delete them, as they won't display anyway (you can check this via Preview).
============================"

## **Submission MetaData**
Please remove the content between the *** and paste the metadata you received after submitting your project or challenge in your Google Form exactly as we sent it to you.

[2017-10-18 11:52] #47 closed, assigned to nobody

[2017-10-18 12:00] JosephMcArthur commented on #10
I've now adapted Lorraine's template here to hide _a lot_ on posting and generally be formatted a little bit more nicely. There is now functionality for a lot of help and support to people, which we can drop copy into whenever.

I've also made light edits to the email people get to make this simpler. More to do, but this is one hurdle crossed.

[2017-10-18 12:27] JosephMcArthur commented on #8
This will take description from the frontpage

[2017-10-18 12:27] JosephMcArthur opened #48 "Add Do-a-thon description to the frontpage"
[//]: # "=======================
Even if you know Github well, we suggest you read this. Anything between these lines you can leave or delete, as they won't display anyway when you post (you can check this via Preview changes). They're here to help you complete issues quickly and in a way that will help other participants. If you're posting a new project, or challenge. We suggest you fill out the

[2017-10-18 12:29] JosephMcArthur commented on #30
Discussed with Lorraine. We don't think it's critical at this point and will likely be a prominent action elsewhere that anyone this engaged would see!

[2017-10-18 12:31] JosephMcArthur commented on #42
Email Lorraine with details on this (which I suppose could be slightly sensitive.

[2017-10-18 12:38] JosephMcArthur commented on #42
- [x] @lorrainechu3n the sheetsu for projects / challenges will now need to show from a sheet called "Sheetsu". This will show only approved projects

[2017-10-18 12:42] #8 closed, assigned to JosephMcArthur

[2017-10-18 12:42] JosephMcArthur commented on #10
closing, pending more feedback from OC and anything caught in the release testing

[2017-10-18 12:42] #10 closed, assigned to JosephMcArthur

[2017-10-18 12:46] JosephMcArthur commented on #28
- [x] geo
- [x] issue
- [x] help needed

[2017-10-18 13:05] JosephMcArthur opened #49 "See if we can facilitate & encourage people to show appreciated / excitement etc about people's work"

[2017-10-18 13:52] char-siuu-bao commented on #45
Will this break the links like they did last time?

[2017-10-18 13:53] JosephMcArthur commented on #45
it shouldn't. You have some links without .html and the links work on the
web without the .html

On Wed, 18 Oct 2017 at 14:52 Lorraine Chuen <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Sk

[2017-10-18 18:01] JosephMcArthur opened #50 "Have a badge for projects that come out of OpenCon"

[2017-10-18 18:02] JosephMcArthur opened #51 "Capture outputs from the doathon"

[2017-10-18 19:18] char-siuu-bao commented on #30
Ah! I didn't realize this was closed and didn't realize it was something we talked about - I think having an RSVP button would be good to mail blast specifically those interested in participating in the do-a-thon who aren't necessarily taking part in OpenCon live more broadly. I think it might be a different demographic.

[2017-10-18 19:18] char-siuu-bao commented on #30
Sorry for being scatterbrained. Was just thinking about adding an RSVP button now - and then remembered vaguely there was an issue around this, haha!

[2017-10-18 19:19] char-siuu-bao commented on #49
I think when we're done the first release of the site, we can think about a social media strategy for highlighting projects. I was thinking of a standard graphic template (kind of like we do for quotes) but for projects. I like this idea :)

[2017-10-18 19:25] char-siuu-bao opened #52 "create language guidelines"
We should let people know that they can participate in Github in their own language - esp. for regional based projects, that will be easier. Just have guidelines around making sure metadata is consistently in English for tagging and organization reasons.

[2017-10-18 19:58] #25 closed, assigned to lorrainechu3n

[2017-10-18 20:04] JosephMcArthur commented on #49
That's a good idea! I think you know the sorts of ideas I've been playing
with, stuff like:
https://labhr.github.io/hatrack/#repo=sparcopen/doathon-dev.

On Wed, 18 Oct 2017 at 20:19 Lorraine Chuen <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twi

[2017-10-18 20:05] char-siuu-bao commented on #21
@JosephMcArthur could we please add a small line in the copy for folks to not share the website link until we officially release? Just because right now i have some example projects pulled from Collaborate and don't want to confuse people it if goes public.

[2017-10-18 20:07] JosephMcArthur commented on #21
Yes, good point!

On Wed, 18 Oct 2017 at 21:05 Lorraine Chuen <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-10-18 20:10] char-siuu-bao commented on #49
Oh yes, I love this idea too! We can do both :-)

On Wed, Oct 18, 2017 at 4:04 PM Joseph McArthur <notifications@github.com>
wrote:

[2017-10-18 20:35] #48 closed, assigned to lorrainechu3n

[2017-10-18 21:16] ghost commented on #33
I'm a Github Comment from Joe's test account. This is **how** I _comment_ on things! Here is a list

1. point one
2. point 2

[2017-10-18 23:05] JosephMcArthur opened #53 "How might we create offline Open Educational Resources that can be used and adopted in regions without steady internet connection?"
This is just an issue to test the sorting, sorry!

[2017-10-18 23:06] JosephMcArthur opened #54 "How might we encourage more institutions to include requirements for Open practices in their Promotion and Tenure guidelines?"
oh noes, this isn't real! Just testing here 👍

[2017-10-18 23:08] JosephMcArthur opened #55 "How might we create Open research communities that are more inclusive for non-English speakers?"
This is an example issue to show how sorting works!

[2017-10-19 07:55] JosephMcArthur opened #56 "How might we find author accepted manuscripts to make the process of self archiving easier for them?"
[//]: # "=======================
Even if you know Github well, we suggest you read this. Anything between these lines you can leave or delete, as they won't display anyway when you post (you can check this via Preview changes). They're here to help you complete issues quickly and in a way that will help other participants. If you're posting a new project, or challenge. We suggest you fill out the

[2017-10-19 08:09] JosephMcArthur commented on #17
okay, we still have a tiny bit of work to get the form set up but we've done 99% of the hard stuff here so closing so we can see what needs work!

[2017-10-19 08:09] #17 closed, assigned to JosephMcArthur

[2017-10-19 08:11] JosephMcArthur commented on #42
we've largely got this set-up and I think it looks great having tested it! Need to duplicate for projects but that's in the works. Closing for now unless there is something I'm missing.

[2017-10-19 08:11] #42 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-10-19 08:12] JosephMcArthur commented on #14
not needed for the OC so moving this back a bit

[2017-10-19 08:25] JosephMcArthur commented on #16
Just reviewed this a bit more and made a few small changes, I think it's looking really rather good (certainly good enough to get feedback).

Can obviously keep editing after... but I'd suggest we can close this for now! Reopen if you disagree

[2017-10-19 08:26] #16 closed, assigned to lorrainechu3n

[2017-10-19 08:34] JosephMcArthur commented on #37
Yes, this is in

And then have some metadata (project/challenge, issue area, region—if the problem statement is regional-specific)

This is now part of the template's suggested things to talk about.

Generally, I don't think we've quite cracked this yet, in the current template it feels like there could be space for misunderstanding and duplication but at the same time I think we need to see how i

[2017-10-19 08:34] #37 closed, assigned to JosephMcArthur

[2017-10-19 09:15] JosephMcArthur commented on #28
these are all here now! :D

[2017-10-19 09:15] #28 closed, assigned to lorrainechu3n

[2017-10-19 09:16] JosephMcArthur commented on #14
ohh, this is a duplicate of #33

[2017-10-19 09:16] #14 closed, assigned to lorrainechu3n

[2017-10-19 09:16] #24 closed, assigned to nobody

[2017-10-19 09:26] JosephMcArthur commented on #30
have suggested a place for this on the frontpage :)

Let me know what you think.

[2017-10-19 09:34] JosephMcArthur commented on #13
I think an extra shout out for the CoC and mirroring Mozilla's

is worth putting here so have done that.

[2017-10-19 09:37] JosephMcArthur commented on #13
I _think_ this is all we can really ask from people at this point. Since it's a monday I think it's odd to say "be available".

Going to close for now, don't hesitate to re-open if you disagree!

[2017-10-19 09:37] #13 closed, assigned to lorrainechu3n

[2017-10-19 09:39] JosephMcArthur commented on #41
made this easier using numbering, which makes this faster to do.

We also now have a backup plan incase we can't tag fast enough.

[2017-10-19 09:43] JosephMcArthur commented on #52
We could have a merge field in the instructions email if people chose regions where people don't speak english as a 1st language that they can do this?

[2017-10-20 14:21] Daniel-Mietchen opened #57 "License of this repo"
I see that this repo as well as https://doathon.org/ are licensed under CC BY 4.0.
When we started the London doathon, we explicitly went for CC0, so as to maximize reuse & reusability. Any chance we can keep it that way?

[2017-10-23 15:47] #30 closed, assigned to lorrainechu3n

[2017-10-23 15:52] JosephMcArthur opened #58 "Add "under construction" copy whereever we feel like this might be needed."
- [x] takedown example projects

[2017-10-23 15:57] JosephMcArthur opened #59 "release on twitter & Facebook"

[2017-10-23 15:58] JosephMcArthur opened #60 "Write a full release blog"

[2017-10-23 16:07] JosephMcArthur commented on #41
- [ ] add #'s to all metadata

[2017-10-23 16:11] JosephMcArthur commented on #52
Add a note on this to:
- [x] the issue template
- [x] the emails sent with instructions

[2017-10-23 16:15] JosephMcArthur commented on #49
We think this would be good during OpenCon, but can imagine how it would fine to implement after. So, making a low priority.

[2017-10-23 16:15] JosephMcArthur commented on #49
We think this would be good during OpenCon, but can imagine how it would fine to implement after. So, making a low priority.

[2017-10-23 16:15] JosephMcArthur commented on #50
We think this would be good during OpenCon, but can imagine how it would fine to implement after. So, making a low priority.

[2017-10-23 16:22] JosephMcArthur commented on #23
- [ ] get up search for challenges. One column is fine
- [ ] get up search for projects. Ideally, search on all columns, but if not, can consider collapsing to have name & description be one thing.

[2017-10-23 16:25] JosephMcArthur commented on #19
In contribution guidelines:
- [x] let people know if your remote while leading a project
- [x] if you're in the room, let remote people know how best to contribute

[2017-10-23 16:30] JosephMcArthur commented on #20
going to use google slides for digital and planning on have pen & paper + encouragement to upload.

[2017-10-23 16:30] #20 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-10-23 16:38] JosephMcArthur opened #61 "double check CoC related copy on all pages"
- [ ] add in copy on "show some love" & also rethink naming of that section

[2017-10-23 16:46] JosephMcArthur opened #62 "encourage challenge --> project progression"
Lorraine to think more about this... however, some ideas discussed:

* encourage projects to reference older discussions where available
* encourage challenge hosts to make projects when they feel ready (but not to rush)

This is something we feel like we want to measure (ideally without needing to do everything manually) so there is a preference for a visible way to do this.

[2017-10-23 17:44] JosephMcArthur commented on #51
Discussed this briefly with Lorraine today and have thought about for a while. We've considered:
* a special hashtag for any issue that alerts people to an output. This could then be searched on.
* a special issue for people to post on when they have an output
* a special form for outputs to go in

I don't think we have a definative answer... but I think there needs to be only one answer and it ne

[2017-10-23 17:52] JosephMcArthur opened #63 "How do we want to measure success"
Lorraine and I checked in on this today. Previously we've discussed:
* number of issues
* number of comments

and the ratio of these suggests something how the levels of collaboration etc etc and then there is a bit of a black box for "we'll feel when it's working".

Today @lorrainechu3n noted the feedback form as a key place to consider where we measure success, so that makes sense. Follow-up act

[2017-10-23 21:55] npscience commented on #22
I also get this.

[2017-10-24 00:48] char-siuu-bao commented on #23
Wah, I'm looking into this, and I think it will be tricky. The code we had from last time, once you use the search function, it doesn't reference any specific table on the page - it actually resets and calls all the tables on the page to set them to your search term .... I'll email the Sheetsu folks and see if they have a work around for pages with more than one table.

[2017-10-24 00:48] char-siuu-bao commented on #23
Working on a code pen here if you want to play around with it .... the search function doesn't actually work right now, but I'm working on it. https://codepen.io/lorrainechu3n/pen/xXNaEZ

[2017-10-24 08:23] JosephMcArthur opened #64 "respond to https://github.com/sparcopen/opencon/issues/4 with changes"

[2017-10-24 08:31] JosephMcArthur commented on #4
This is done thanks to @katiequin355!

[2017-10-24 08:31] #4 closed, assigned to nobody

[2017-10-24 09:00] JosephMcArthur opened #65 "make final github gifs"
- [x] make
- [x] change 2nd to be find & stay up to date (to cover scary issues page)
- [x] upload to repo so links to break due to tracking

[2017-10-25 13:56] JosephMcArthur commented on #18
I made a quick version of something here for the workshop calls: https://docs.google.com/presentation/d/18N45l-FvYuzrUTG_IP4exdsk-eYf2NDmTRbhRaaQ4pI/edit#slide=id.p

Only have about ~ 5 minutes... so very open to changes.

[2017-10-25 13:57] JosephMcArthur commented on #38
Ah, the comment i just put here: https://github.com/sparcopen/doathon-dev/issues/18#issuecomment-339338231 may have been better here.

[2017-10-26 19:05] char-siuu-bao commented on #10
Lol Joeeeee you never did this. But done now!

[2017-10-26 19:26] #55 closed, assigned to nobody

[2017-10-26 19:26] #54 closed, assigned to nobody

[2017-10-26 19:26] #53 closed, assigned to nobody

[2017-10-26 19:26] #44 closed, assigned to nobody

[2017-10-26 19:26] #43 closed, assigned to nobody

[2017-10-26 19:27] char-siuu-bao commented on #41
Reformatted to search according to hashtag - should hopefully work in all links now, etc...

[2017-10-26 19:27] char-siuu-bao commented on #41
Closing!!!

[2017-10-26 19:27] #41 closed, assigned to lorrainechu3n

[2017-10-26 19:28] char-siuu-bao commented on #35
Removed examples - now just have ~3 OC projects and ~3 OC challenges.  We can ask them to take down later if they don't actually want to work on these projects - but will serve as examples for now. Closing for now.

[2017-10-26 19:28] #35 closed, assigned to lorrainechu3n

[2017-10-26 19:28] char-siuu-bao commented on #63
I think this can be moved to the OpenCon 2017 milestone!!

[2017-10-26 19:29] char-siuu-bao commented on #23
This isn't going to happen this week - but I have emailed the Sheetsu folks and hopefully can get this working by next week. Moving to OpenCon 2017 milestone

[2017-10-26 19:30] char-siuu-bao commented on #51
Also moving this to OpenCon 2017 milestone! Doesn't seem pressing for soft launch.

[2017-10-26 19:35] char-siuu-bao commented on #52
Also add on tips for project and challenge leads

[2017-10-26 19:41] #19 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-10-26 19:41] char-siuu-bao commented on #33
Remote vs. Non Remote
let people know if your remote while leading a project
 if you're in the room, let remote people know how best to contribute

Language

Code of Conduct

[2017-10-26 19:49] char-siuu-bao opened #66 "Tell people to keep how might we statements concise - they are way too long and specific now from OC!!"

[2017-10-27 03:08] #52 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-10-27 03:08] char-siuu-bao commented on #61
- [ ] Also add in copy in tips for project and challenge leads

[2017-10-27 03:33] #61 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-10-27 05:42] #33 closed, assigned to JosephMcArthur

[2017-10-27 05:43] char-siuu-bao commented on #64
I've hit some, but not all of this.

[2017-10-27 05:59] char-siuu-bao commented on #58
Also added "coming soon" on design thinking toolkit buttons. can prob update by this weekend - very close to done!

[2017-10-27 05:59] #58 closed, assigned to lorrainechu3n

[2017-10-27 07:32] JosephMcArthur commented on #64
have added to do's and some comments here

[2017-10-27 09:05] JosephMcArthur commented on #64
okay! I've done everything fast here. Other stuff will probably need more than I'll be able to do now.

[2017-10-27 09:48] JosephMcArthur commented on #26
# non-trivial fixes

* think about a tagging system so that global projects turn up in all sections
- [x] project name shows link, but often isn't linked NOW: #67
* [x] add something about not needing to a dev to top tips NOW: #69
- [x] on mobile text is only about 1/2 the screen. Should probably be more or less full width NOW: #68

[2017-10-27 10:12] JosephMcArthur commented on #45
done on live, with documentation on how to do it all. works a-okay

[2017-10-27 10:12] #45 closed, assigned to JosephMcArthur

[2017-10-27 11:42] #65 closed, assigned to JosephMcArthur

[2017-10-27 11:45] JosephMcArthur commented on #64
okay, done a few slower things there and updated people.

[2017-10-27 11:46] JosephMcArthur opened #67 "project name shows link, but often isn't linked"
Lorraine, I know we've fixed this elsewhere, or at least have the code. Would be good to fix asap.

[2017-10-27 11:47] JosephMcArthur opened #68 "on mobile, text is very very narrow"
may be a feature, not a bug, but flagging just in case.

Not a critical issue, still readable.

[2017-10-27 11:48] JosephMcArthur opened #69 "consider adding something about not needing to a dev to top tips."

[2017-10-27 11:49] JosephMcArthur commented on #26
Stuff still to do:
- [x] labels on main repo
- [x] check issue template on main repo
- [x] try and IRL walkthrough of everything one final time
- [x] double check emails sent my live
- [x] either turn off moderation for people, or leave it on

[2017-10-27 11:50] JosephMcArthur commented on #64
moving to the next issue, everything else I think will take more time than we have today

[2017-10-27 15:37] char-siuu-bao commented on #67
I'll look into this now! I emailed about it for the speakers database, but never got a chance to implement. will look in my email inbox

[2017-10-27 15:38] char-siuu-bao commented on #67
OK should be an easy fix, I think! Doing it now!

[2017-10-27 15:58] char-siuu-bao commented on #67
Hmm - it's not working. I think we can figure out before OpenCon 2017 but for now, I'm going to suggest taking out project links entirely but templating it into the github issue metadata.

[2017-10-27 17:31] char-siuu-bao commented on #26
@JosephMcArthur - trying to address as many of these as possible:

- Do we need labels for issues on the main repo? I've restructured all the searches and links so that they are according to the #hashtag system we decided to use! I think it works just as well.

- moderation is off for anyone "in the room" atm. We can add other community members to the list after the soft launch.

[2017-10-27 17:34] JosephMcArthur commented on #26
sure lets not worry for now

[2017-10-27 17:47] JosephMcArthur commented on #26
Issue template in the main repo new formats correctly again. Have " in a comment will make it show up.

[2017-10-27 17:48] JosephMcArthur commented on #26
The email looks fine. All I'd suggest is the bring back the formatting in the metadata section that would help it show better on Github & be a bit more condensed. I put this in an email draft @lorrainechu3n

[2017-10-27 17:49] JosephMcArthur commented on #26
I THINK from everything on the main site, with how it's currently configured, we're all set.

Of course, I think we want to still be making changes - BUT - not today probably. Let's get this shipped and in people's hands.

[2017-10-27 17:49] #26 closed, assigned to JosephMcArthur

[2017-10-27 22:06] JosephMcArthur opened #70 "better social info on all pages"
- [ ] photo on twitter
- [x] descriptions for each page

[2017-10-28 01:07] char-siuu-bao commented on #22
@JosephMcArthur let's try "minifying" the CSS file: https://stackoverflow.com/questions/9669138/how-to-optimize-css-file-for-speed#comment12281486_9669138

Can attempt to do this weekend

[2017-10-31 06:57] JosephMcArthur commented on #59
we did this!

[2017-10-31 06:57] #59 closed, assigned to lorrainechu3n

[2017-11-01 17:22] JosephMcArthur opened #71 "Encourage people to blog about their project / challenge"

[2017-11-01 17:23] JosephMcArthur commented on #50
@nshockey would like this framed as a badge for projects that are part of the community, not just ones part of this do-a-thon.

[2017-11-04 22:19] JosephMcArthur commented on #69
Tried to do this in my github help page. Not sure it'll fit in tips though, so closing.

[2017-11-04 22:19] #69 closed, assigned to JosephMcArthur

[2017-11-04 22:22] JosephMcArthur commented on #39
sent this out! Yay \o/

[2017-11-04 22:22] #39 closed, assigned to lorrainechu3n

[2017-11-04 22:24] JosephMcArthur commented on #27
okay, we've kinda filled the footer now. Can't be tiny.

[2017-11-04 22:24] #27 closed, assigned to nobody

[2017-11-04 22:31] JosephMcArthur commented on #70
okay, I've now got better social text for all pages. Going to close it there.

[2017-11-04 22:31] #70 closed, assigned to nobody

[2017-11-04 23:40] char-siuu-bao commented on #22
OK i think I've gotten rid of this now - it's called a FOUC and i added this code to the head to make ti go away:

[code]

it might still happen for a bit until the cache refreshes (or whatever - IDK the language haha) but when I cleared my cache it works. it's been pushed to the live site now too.

@JosephMcArthur, I don't think your other changes have been pushed live yet (e.g. with the Github h

[2017-11-04 23:40] #22 closed, assigned to nobody

[2017-11-05 14:22] JosephMcArthur opened #72 "Claiming space and signaling location of groups"
Nick has asked how we plan to help groups meet at the event.

Seems like there are quite a few ways this could be done. One thing we can certainly do is put up the table names. Then people can signal better where they are.

Would love to know what @lorrainechu3n thinks!

[2017-11-05 14:25] JosephMcArthur opened #73 "plan in-person help"
Seems like despite all the efforts to get feedback, and help all the peeps before hand, some help will be useful on the day. How can we do that?

This might include:
* having the first hour being a facilitated "getting started" workshop or something like that if people want it
* having some staff / OC wander round throughout and help people
* using the help-desk as a constant point of "if you get

[2017-11-06 05:57] char-siuu-bao commented on #38
Drafting a little booklet we can print ~30 copies of to put around tables.

much like the slides but condensed to a word doc format to be easier to work with:

https://docs.google.com/document/d/1WA4RXHmolgidiVpOizz0rsaE8PE_4fRwg1B3XK8jkZU/edit

very empty right now but will port most things over from the slides tomorrow and shouldn't take very long

[2017-11-06 05:57] char-siuu-bao commented on #67
Took out the project links entirely - they're linked into the github issue, closing this for now.

[2017-11-06 05:57] #67 closed, assigned to lorrainechu3n

[2017-11-06 05:58] char-siuu-bao commented on #36
Too complicated! Many challenge and project leads will be remote, however, and I think that is a good analogous thing to satellite meet ups.

[2017-11-06 05:58] #36 closed, assigned to lorrainechu3n

[2017-11-06 05:58] char-siuu-bao commented on #11
I have to do this this week. It will not take very long as the sheet that we are pulling from itself is a v-look up so back up will not take very long to do.

[2017-11-06 05:59] char-siuu-bao commented on #34
I think we decided not to do this? Closing for now.

[2017-11-06 05:59] #34 closed, assigned to lorrainechu3n

[2017-11-06 05:59] char-siuu-bao commented on #60
First pass here: https://docs.google.com/a/sparcopen.org/document/d/1bm5Uh0yvkVsbVxWMneT1EFwYM-UlSRQ-0Cmr1bx4ark/edit?usp=sharing

pulled mostly from email text sent to in person attendees. aim to get out by monday/tuesday

[2017-11-06 06:00] char-siuu-bao commented on #56
this is an example issue so i'm closing to clean up the issues list !

[2017-11-06 06:00] #56 closed, assigned to nobody

[2017-11-06 06:00] char-siuu-bao opened #75 "Write email comms to prep project and challenge leads a couple days before Nov 13 / morning of"
assigned you @JosephMcArthur as it would be good to get your feedback on what content we should include here (I can do the actual writing part!)

[2017-11-06 07:12] ghost opened #76 "test issue"

[2017-11-06 07:12] JosephMcArthur commented on #76
afafda

[2017-11-06 07:12] #76 closed, assigned to nobody

[2017-11-06 22:13] char-siuu-bao commented on #11
for reference, just so we both have the links

Back up Challenge spreadsheet API: https://sheetsu.com/apis/v1.0/2d4a76f436b9

Back up Project spreadsheet API: https://sheetsu.com/apis/v1.0/45d053d3d431

I think it's unlikely to max out tbh, but just in case.

This is in both of our inboxes now, so closing this issue for now.

[2017-11-06 22:13] #11 closed, assigned to lorrainechu3n

[2017-11-07 18:52] char-siuu-bao commented on #60
http://www.opencon2017.org/invited_to_participate_opencon_doathon

It's up!

[2017-11-07 18:52] #60 closed, assigned to lorrainechu3n

[2017-11-08 01:33] char-siuu-bao commented on #66
Not an issue for most anymore, working with people one on one as issues come up

[2017-11-08 01:33] #66 closed, assigned to nobody

[2017-11-08 01:33] char-siuu-bao commented on #23
I don't think this is going to happen :(

[2017-11-08 08:58] JosephMcArthur opened #77 "consider setting up teams that can be tagged in issues"
since we're not asking people to subscribe to the whole repo, it could still be good to have a broadcast system that can reach people. This might help replace project presentations, but without people getting messaged with a lot of stuff.

We could build teams off of:
* interest area
* skill
* region

hopefully fairly easily.

[2017-11-08 09:03] JosephMcArthur opened #78 "Tweet new issues"
Might be nice to create a way that people watching the tag see new issues.

https://zapier.com/zapbook/zaps/11493/tweet-new-github-issues/

[2017-11-08 09:58] JosephMcArthur commented on #72
Have suggested that we speak about how to claim space in the intro on Monday. Won't be needed before that and is only needed for in-person people.

cc @nshockey who was most concerned about this.

[2017-11-08 10:01] JosephMcArthur commented on #73
Sent a note to the OC about this, that's the next step here to get this stuff being arranged (although it's super low-overhead).

[2017-11-08 10:01] JosephMcArthur commented on #68
if we have tech time, this isn't the thing to fix. bumping back

[2017-11-08 11:45] JosephMcArthur opened #79 "give github help when people hit the repo & issues"
* have a one liner at the top of issues pointing to help
* make the one liner on the code repo linkout to github help
* consider if we can hack the issue list somehow to always display a _help_ issue up top

[2017-11-08 11:53] char-siuu-bao commented on #78
Yeah I was thinking of something like this. I was going to create a canva graphic template so hopefully the issues get circulated on Twitter more easily and gain traction!

[2017-11-08 12:02] JosephMcArthur commented on #78
Perfect. Should we auth this to the main opencon account or a separate
do-a-thon bot account that tweets out to #opencon?

I think from opencon would probably be *okaaaaaay*, but we'd want to watch
the rate tbh.

J

On Wed, 8 Nov 2017 at 12:53 Lorraine Chuen <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/F

[2017-11-08 12:03] char-siuu-bao commented on #78
I think fine to do the main opencon account... I was also thinking of
curating which ones we highlight to showcase a diversity across issue areas
and regions !! We can encourage folks to tweet out themselves also, and we
can always RT

On Wed, Nov 8, 2017 at 12:02 PM Joseph McArthur <notifications@github.com>
wrote:

[2017-11-08 12:22] JosephMcArthur commented on #78
aaaah, I was just literally thinking of setting up a bot type thing to do this. BUT, if you'd like to handle manually I think that's fine too :)

[2017-11-08 12:36] char-siuu-bao commented on #78
I'll do it manually!! That way it hopefully doesn't feel spammy!
On Wed, Nov 8, 2017 at 12:22 PM Joseph McArthur <notifications@github.com>
wrote:

[2017-11-08 12:39] JosephMcArthur commented on #78
aces. close when you feel good about this then.

On Wed, 8 Nov 2017 at 13:36 Lorraine Chuen <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-11-09 00:25] JosephMcArthur commented on #78
lorraine did all the awesomes here.

[2017-11-09 00:25] #78 closed, assigned to lorrainechu3n

[2017-11-09 00:26] #18 closed, assigned to lorrainechu3n

[2017-11-09 00:28] JosephMcArthur commented on #38
https://github.com/sparcopen/doathon-dev/issues/38#issuecomment-342053677 closes the issue. Don't think people will like digital generally, and if they do will convert.

[2017-11-09 00:28] #38 closed, assigned to lorrainechu3n

[2017-11-09 00:48] JosephMcArthur commented on #62
suggested we do this as part of our engagement with issues, and that the tech can be largely ignored for now

[2017-11-09 00:48] #62 closed, assigned to lorrainechu3n

[2017-11-09 00:48] JosephMcArthur commented on #77
we think this is a. good idea, and worth doing. Nice opt-ins & outs.

[2017-11-09 00:50] #73 closed, assigned to JosephMcArthur

[2017-11-09 00:55] char-siuu-bao commented on #51
** let's clarify what "capture outputs" means @JosephMcArthur

[2017-11-09 00:58] char-siuu-bao commented on #72
Easy, can add to comms the morning of as a reminder!

[2017-11-09 00:58] #72 closed, assigned to JosephMcArthur

[2017-11-09 11:04] char-siuu-bao commented on #23
woot woot got it to work but gotta change some of the variable names in the spreadsheet itself

[2017-11-09 11:04] char-siuu-bao commented on #23
https://codepen.io/lchuen/pen/dZNNwQ?editors=1010

[2017-11-09 11:13] char-siuu-bao commented on #23
OK - so the code works, we just need to make sure we assign classes so the code can distinguish between projects / challenges. gonna work on that now! talking to myself ~&~&~ woooo

[2017-11-10 10:07] JosephMcArthur commented on #51
- [x] make a speadsheet for staff / OC to stick issues they think would be good to highlight in some way.

[2017-11-10 10:08] JosephMcArthur commented on #77
- [ ] do this
- [ ] put in comms @lorrainechu3n

[2017-11-10 22:35] #79 closed, assigned to JosephMcArthur

[2017-11-19 22:02] JosephMcArthur commented on #77
decided it made more sense to do this via normal mail merges

[2017-11-19 22:02] #77 closed, assigned to JosephMcArthur

[2017-11-19 22:07] JosephMcArthur commented on #68
This has grown on me over time, and I haven't heard anyone mention it. Hard to consider it an issue now...

[2017-11-19 22:07] #68 closed, assigned to lorrainechu3n

[2017-11-20 18:07] JosephMcArthur commented on #51
going to follow up with people from this year. With that, this is okay to close, our mechanisms for this didn't work fantastically but coped at this scale I think.

[2017-11-20 18:07] #51 closed, assigned to JosephMcArthur

[2017-12-27 17:38] char-siuu-bao commented on #50
![doathon_projectbadge](https://user-images.githubusercontent.com/10004206/34388636-d9b9b742-eb02-11e7-9b34-4d028ad66bb8.png)

Does this work @JosephMcArthur ? @nshockey ?

[2017-12-27 17:39] char-siuu-bao commented on #50
Oops just saw the thing about being a community project! Will edit.

[2017-12-27 17:39] char-siuu-bao commented on #50
![commuinty project badge](https://user-images.githubusercontent.com/10004206/34388670-091890da-eb03-11e7-857d-61bb77c3a714.png)
this? @JosephMcArthur

[2017-12-27 17:40] #75 closed, assigned to JosephMcArthur, lorrainechu3n

[2017-12-27 17:43] char-siuu-bao commented on #50
Will leave design files here if you want to edit: https://drive.google.com/drive/u/0/folders/1cK5pwgiQfXUwFRYG11vFEwGkWs2kDMY4

[2017-12-28 14:46] JosephMcArthur commented on #50
So, I'd suggest removing the:
* Date
* Border

I also wonder if the "community project" thing ascribes us too much ownership? Would:
"Supported by O", on one line, where "O" is just the logo be a bit more minimal perhaps? This would also allow people who're super sensitive about branding to mock this up in their own style easily.

[2017-12-28 16:24] char-siuu-bao commented on #50
I think the issue with our current logo is that we don't have a version that includes no date and just the text (it looks incomplete) - I can mock something up but not sure how legitimate it will look.

[2017-12-30 08:42] JosephMcArthur commented on #50
I was thinking in this set up we might not even have the "OpenCon" text,
just the circle. I can't see a way that having the date in this makes
sense, so would be good to try other ways.

On Thu, 28 Dec 2017 at 16:24 Lorraine Chuen <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <

[2018-10-10 08:42] #49 closed, assigned to lorrainechu3n

[2018-10-10 08:42] #71 closed, assigned to lorrainechu3n

[2018-10-10 08:44] #64 closed, assigned to JosephMcArthur, lorrainechu3n

[2018-10-10 09:15] #50 closed, assigned to lorrainechu3n